* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:#ffffff;
}

/* Manages the background color of the body */
body {
    background-color: #d9dcd6;
}

/* Manages the title "Horiseon" */
.header {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    padding: 20px;
}

/* Manages the styling of the H1 "Horiseon" */
.header h1 {
    display: inline-block;
    font-size: 48px;
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Manages the styling of the in-the-same page hyperlinks */
a {
    text-decoration: none;
}

/* Manages the styling of the paragraph section */
p {
    font-size: 16px;
}

.hero {
    height: 1400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* manages the styling of each of images in the benefits section  */
.float-left, .float-right {
    float: left;
    margin-right: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Manages the styling of the benefits box on the right hand side of the screen */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 950px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
}

/* removed unnecessary lines of code */
.search-engine-optimization, .social-media-marketing, .online-reputation-management {
    margin-bottom: 25px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*standardizing the colors across the entire website*/
    background-color: #2a607c;
}

/* manages the color font all the benefits */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
}

/* manages the titles of all the benefits */
.benefit-lead h3, .benefit-brand h3,.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* manages the images of all the benefits */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* removed unnecessary lines of code */
.search-engine-optimization img, .online-reputation-management img,  .social-media-marketing img {
    max-height: 200px;
}

/* removed unnecessary lines of code */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
